# Python
__pycache__/
*.pyc
.venv/
venv/

# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android / Gradle
.gradle/
local.properties

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Dataset
archive/
VinaFood21_processed/
Train/
Test/
Validate/

# Optional: ignore duplicate models if not needed
# *.pth